    * {
        box-sizing: border-box;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        color: #333;
        position: relative;
        height: 100%;
    }

    .card {
        margin: 10px 0;
    }

    .card-author {
        font-size: 14px;
        padding: 10px 0 0 0;
        border-bottom: 1px solid rgb(240, 240, 240);
    }

    .card-title {
        font-size: 38px;
        padding: 10px 0;
    }

    .card-title a,
    .card-author a {
        text-decoration: inherit;
        color: inherit;
    }

    .card-title:hover {
        color: #555;
    }

    .card-text {
        color: rgba(0, 0, 0, .5);
        padding: 20px 0;
    }

    .card-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }

    .card-date {
        font-size: 16px;
        display: inline-block;
        padding: 5px 15px;
        background-color: rgb(240, 240, 240);
    }

    .card-button {
        display: inline-block;
        padding: 5px 30px;
        background-color: rgb(66, 66, 66);
        color: #fff;
        text-decoration: none;
    }

    .card-button:hover {
        background-color: rgb(0, 0, 0);
        transition: background-color .4s;
    }

    .card-button:active {
        background-color: rgb(166, 166, 166);
    }

    .post-meta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 42px 0;
    }

    .post-title {
        font-size: 42px;
    }

    .post-text {
        font-size: 24px;
        padding-bottom: 50px;
    }

    .header-content {
        max-width: 640px;
        min-width: 640px;
        margin: 0 auto;
    }

    main {
        min-height: 100%;
        max-width: 640px;
        margin: 0 auto;
        margin-bottom: -50px;
        padding: 100px 0;
    }

    main .card:last-of-type {
        margin-bottom: 50px;
    }

    header {
        border-bottom: 1px solid rgb(229, 229, 229);
        padding: 10px 30px;
        display: flex;
        align-items: center;
        min-height: 50px;
        position: fixed;
        top: 0;
        z-index: 1;
        background-color: white;
        width: 100%;
    }

    header a {
        text-decoration: none;
        color: rgb(24, 24, 24);
        font-size: 20px;
    }

    footer {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        border-top: 1px solid rgb(229, 229, 229);
    }

    .line {
        margin: 50px 0;
        color: white;

    }

    .line:last-child {
        display: none;
    }
    [type="search"]{
        border-radius:0;
    }

    .post-main-image-container{
        width:100%;

    }

    .post-main-image{
        width:80%;
        height: auto;
    }